{% extends 'base.html' %}
{%block head%}
{%endblock%}
{%block content%}
<div class='center'>
    <form action='/add_voo' method='POST'>
        <label for="saida">Digite o nome da cidade de Saida:</label>
        <input id='saida' name='saida' type="text">

        <label for="destino">Digite o nome da cidade de Destino:</label>
        <input id='destino' name='destino' type="text">

        <label for="custo">Digite o Custo da viajem em R$:</label>
        <input id='custo' name='custo' type="number" step='0.01' min='0.00'> 

        <label for="tempo">Digite o Tempo da viajem em horas:</label>
        <input id='tempo' name='tempo' type="number" step='0.01' min='0.00'>

        <label for="max_pass">Digite a Qauntidade Maxima de Passageitos:</label>
        <input id='max_pass' name='max_pass' type="number" step='1' min='0'>

        <input type="submit" value='Adicionar'>
    </form>
</div>
{%endblock%}
{%block scripts%}
{%endblock%}