{% extends 'base.html' %}
{%block head%}
{%endblock%}
{%block content%}
<div class='text-center content-align-center'>
    <form action='' method='POST'>
        <label for="compania">Digite o nome da compania que esta sendo adicionada:</label>
        <input id='compania' name='compania' type="text">

        <label for="href">Digite o ip da API compania seguido de ':' seguido da porta na qual a API esta operando:</label>
        <input id='href' name='href' type="text">
        <input id='propagate' name='propagate' type="hidden" value='True'>

        <small> Nota: ao "__ip__:__porta__" colocado a cima sera adicionado "http://" no inicio</small>
        <input type="submit" value='Adicionar'>
    </form>
</div>
{%endblock%}
{%block scripts%}
{%endblock%}