{% extends 'base.html' %}
{%block head%}
{%endblock%}
{%block content%}
<div class='text-center content-align-center'>
    <form action='' method='POST'>
        <label for="companhia">Digite o nome da companhia que esta sendo adicionada:</label>
        <input id='companhia' name='companhia' type="text">

        <label for="href">Digite o ip da API companhia seguido de ':' seguido da porta na qual a API esta operando:</label>
        <input id='href' name='href' type="text">

        <small> Nota: ao "__ip__:__porta__" colocado a cima sera adicionado "http://" no inicio</small>
        <input type="submit" value='Adicionar'>
    </form>
</div>
{%endblock%}
{%block scripts%}
{%endblock%}