{% extends 'base.html' %}
{% block head %}
{% endblock %}
{% block content %}
<div>
    <h1 class='text-center my-3'>Voos disponíveis:</h1>
    <div class="row">
        {% for trecho in trechos %}
        <div class="col-lg-4 mx-4 mb-4 card" style="width: 18rem; background-color: rgb(32, 36,36)">
            <div class="card-body">
                <h5 class="card-title" style="background-color: rgb(32, 36,36); color: #899095;"><i class="fas fa-plane-departure"></i> De <b>{{ trecho.saida }}</b></h5>
                <h5 class="card-title" style="background-color: rgb(32, 36,36); color: #899095;"><i class="fas fa-plane-arrival"></i> Para <b>{{ trecho.destino }}</b></h5>
                <p class="card-text" style="background-color: rgb(32, 36,36); color: #899095;">Por apenas R${{ trecho.custo }},00.</p>
            </div>
            <ul class="list-group list-group-flush" style="background-color: rgb(32, 36,36)">
                <li class="list-group-item" style="background-color: rgb(32, 36,36); color: #899095;">Tempo da viagem: {{trecho.tempo}}.</li>
                <li class="list-group-item" style="background-color: rgb(32, 36,36); color: #899095;">Vagas restantes: {{trecho.vagas}}.</li>
            </ul>
            <div class="card-body" style="background-color: rgb(32, 36,36)">
                <input type='hidden' id='trajeto{{i}}' name='trajeto' value='{{trecho.saida}}->{{trecho.destino}}|{{trecho.empresa}}->'>
                <input id="comprar{{i}}" type='submit' class="btn btn-warning compra" value="Comprar">
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<script>
    function comprar() {
        var buttons = document.getElementsByClassName('compra');
        console.log(buttons)
        Array.from(buttons).forEach(function(btn) {
            btn.addEventListener('click', function() {
                let trajeto = document.getElementById('trajeto' + btn.id.replace(/\D/g, ''));
                var jsonData = {
                    trajeto: trajeto.value
                }
                Swal.fire({
                    title: 'Deseja confirmar esta compra?',
                    confirmButtonColor: '#32cd32',
                    cancelButtonColor: '#d33',
                    showCancelButton: true,
                    confirmButtonText: 'Comprar',
                    showLoaderOnConfirm: true,                    
                }).then((result) => {
                    if (result.isConfirmed) {
                        Swal.fire({
                        title: 'Processando compra',
                        timer: 20000,
                        didOpen: () => {
                            Swal.showLoading()
                        },
                        willClose: () => {
                        }
                        }).then((result) => {
                        })
                        $.ajax({
                            method: 'POST',
                            url: '/reservar',
                            data: jsonData,
                            success: function (response) {
                                console.log(response)
                                Swal.fire({
                                    title: 'Parabéns!',
                                    text: response,
                                    icon: 'success',
                                    confirmButtonText: 'Ok',
                                    }).then((result) => {
                                    if (result.isConfirmed) {
                                        window.location.replace("http://" + document.location.host);
                                    }
                                })
                            },
                            error: function (e) {
                                console.log(e);
                                Swal.fire({
                                    title: 'Erro!',
                                    text: e,
                                    icon: 'error',
                                    confirmButtonText: 'Ok',
                                    }).then((result) => {
                                    if (result.isConfirmed) {
                                        window.location.replace("http://" + document.location.host);
                                    }
                                })
                            }
                        });
                    }
                })
            })
        })
    }

    $(document).ready(function() {
        comprar()
    });
</script>
{% endblock %}
{% block scripts %}
{% endblock %}