{% extends 'base.html' %}
{% block head %}
<style>
    .viajem_display{
        height:200px;
        max-width:100vw;
        position: relative;
        /*background-color: cadetblue;*/
        overflow-x: auto;
        overflow-y: hidden;
        display:flex;
        flex-direction: row;
    }
</style>
{% endblock %}
{% block content %}
{% if success %}
<div>
    {% for i, trajeto in resultado %}
        <form action='/reservar' method='POST'>
        <div id="display_viagem{{i}}" class="mx-4 mb-4 card">
                <div class="card-body">
                    <h5 class="card-title">Trajeto {{ i }}</h5>
                    <div class="row">
                    {% for n, saida, destino, opções, is_not_final in trajeto %}
                        <div class="col">
                            <ul class="list-inline center">
                                <li id='saida_trecho{{i}}{{n}}' class="list-inline-item card-text">{{ saida }}</li>
                                <li class="list-inline-item card-text"><i class="fas fa-plane"></i></li>
                                <li id='destino_trecho{{i}}{{n}}' class="list-inline-item card-text">{{ destino }}</li>
                                
                            </ul>
                            <select id='trecho{{i}}{{n}}' class="form-control" onChange = alterar_descrição('{{i}}','{{n}}')>
                                {% for trecho in opções %}
                                    <option value='{{trecho.opção}}'>Opção {{trecho.opção}}</option>
                                {% endfor %}
                            </select>
                            <ul id='descrição{{i}}{{n}}' class="list-group list-group-flush">
                               {% for trecho in opções %}
                                    <div {%if trecho.display%}{%else%}hidden{%endif%}>
                                        <li class="list-group-item">Companhia: {{ trecho.compania }}</li>
                                        <li class="list-group-item">Preço: R${{ trecho.custo }}</li>
                                        <li class="list-group-item">Duração do voo: {{ trecho.tempo }}h</li>
                                        <li class="list-group-item">Vagas:{{ trecho.vagas }}</li>
                                    </div>
                                {% endfor %}
                            </ul>
                        </div>
                        {%if is_not_final %}
                        <div class="col-1" style="max-width: 20px;">
                            <i class="fas fa-angle-double-right"></i>
                        </div>
                        {% endif %}
                    {% endfor %}
                    </div>
                </div>
                <ul id='resultado{{i}}' class="list-group list-group-flush">
                <li id='custo{{i}}' class="list-group-item">Custo total:</li>
                <li id='tempo{{i}}' class="list-group-item">Tempo total:</li>
                <input type='hidden' id='trajeto{{i}}' name='trajeto' value=''>
                </ul>
                <div class="card-body">
                    <input class="btn btn-warning" type="submit" value="Comprar">
                </div>
            </div>
        </form>
    {% endfor %}
    <!-- {%for i,trajeto in resultado%}
        <form action='/reservar' method='POST'>
            <div class='viajem_display' id="display_viagem{{i}}">
                Trajeto {{i}}
                {%for n,saida,destino,opções,is_not_final in trajeto%}
                    <div style='display:block; margin-right: 20px;display:block;'>
                        <div style=' max-height: 20px; display: flex;flex-direction: row;'>
                            <p id='saida_trecho{{i}}{{n}}'> {{saida}}</p><p style='margin-left: 3px;'>  &#9992; </p><p  style='margin-left: 3px;' id='destino_trecho{{i}}{{n}}'>{{destino}}</p><p  style='margin-left: 3px;'>   {%if is_not_final %} &#8658; {%endif%}    </p>
                        </div>
                        <div style='margin-top:20px; top:20px;left:0; max-height: 80px;'>
                            <select id='trecho{{i}}{{n}}' onChange=alterar_descrição('{{i}}','{{n}}')>
                                <!--name='{{saida}}-{{destino}}:'
                                {%for trecho in opções%}
                                    <option value='{{trecho.opção}}' >opição {{trecho.opção}}</option>
                                {%endfor%}
                            </select>   
                            <div id='descrição{{i}}{{n}}'>
                                {%for trecho in opções%}
                                    <p {% if trecho.display==False%}hidden{%endif%}>
                                        Compania: {{trecho.compania}}<br>
                                        Preço: R${{trecho.custo}}<br> 
                                        Duração do voo: {{trecho.tempo}}h<br>
                                        Vagas:{{trecho.vagas}}
                                    </p>
                                {%endfor%}
                            </div>
                        </div>
                    </div>
                {%endfor%}
                <div id='resultado{{i}}'>
                    <p>Custo total:</p>
                    <p>Tempo total:</p>
                    <input type='hidden' id='trajeto{{i}}' name='trajeto' value=''>
                    <input type="submit" value='Comprar'>
                </div>
            </div>
        </form>
    {%endfor%} -->
</div>
{% else %}
<div class='center'>
    <h1>Não foi possível chegar a "{{ destino }}" a partir de "{{ saida }}"</h1>
</div>
{% endif %}
{% endblock %}
{% block scripts %}
<script type="text/javascript">
    function make_all_results(){
        for(let i=1; true; i++){
            // console.log(`display_viagem${i}`)
            let a = document.getElementById(`display_viagem${i}`)
            if(a != null)
                make_resultados(i)
            else
                break
        }
    }
    function make_resultados(id){
        // console.log('_____________')
        // console.log(id)
        let custo = 0
        let tempo = 0
        let path = ''
        companias = ''
        for(let i = 1; true; i++){
            let a = document.getElementById(`trecho${id}${i}`)
            if(a != null){
                path+=( document.getElementById(`saida_trecho${id}${i}`).textContent+'->')
                let s = a.selectedIndex
                a = a.value
                let d = document.getElementById(`descrição${id}${i}`).children
                let select = document.getElementById(`trecho${id}${i}`).value -1
                d = d[select].children
                // console.log(d)
                companias += d[0].textContent.replace('\n','').replace(' ','').split(':')[1]+'->'
                custo += parseFloat(d[1].textContent.replace('\n','').split(':')[1].replace('R$',''))
                tempo += parseFloat(d[2].textContent.replace('\n','').split(':')[1].replace('h',''))
                // console.log(custo)
                // console.log(tempo)
            }else{
                path+=document.getElementById(`destino_trecho${id}${i-1}`).textContent+'|'+companias
                document.getElementById(`trajeto${id}`).value = path
                break
            }
        }
        let r = document.getElementById(`resultado${id}`)
        let c = document.getElementById(`custo${id}`)
        let t = document.getElementById(`tempo${id}`)
        c.textContent = `Custo total: R$${custo.toFixed(2)}`
        t.textContent = `Tempo total: ${tempo.toFixed(2)}h`
    }
    make_all_results()
    function alterar_descrição(index_trajeto,index_trecho){
        let select = document.getElementById(`trecho${index_trajeto}${index_trecho}`).value -1
        // console.log(select)
        let descrições = document.getElementById(`descrição${index_trajeto}${index_trecho}`).children
        // console.log( descrições )
        for(let i=0; i<descrições.length; i++){
            // console.log( descrições[i] )
            descrições[i].hidden = i!=select
        }
        make_resultados(index_trajeto)
    }
</script>
{% endblock %}